---
import BaseLayout from '../layouts/BaseLayout.astro';
import Contact from '../components/Contact.tsx';
import StarBackground from '../components/StarBackground.tsx';
---

<BaseLayout>
  <div class="relative">
    <StarBackground client:load />
    <div class="relative z-10">
      <Contact client:load />
    </div>
  </div>
</BaseLayout>