
---
import Header from '../components/Header.tsx';
import Hero from '../components/Hero.tsx';
import About from '../components/About.tsx';
import Projects from '../components/Projects.tsx';
import Contact from '../components/Contact.tsx';
import Footer from '../components/Footer.tsx';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>dhananjay | developer</title>
  </head>
  <body class="bg-black text-white font-sans">
    <Header />
    <main class="max-w-6xl mx-auto px-4">
      <Hero />
      <About />
      <Projects />
      <Contact />
    </main>
    <Footer />
  </body>
</html>
