---
import StarBackground from '../components/StarBackground.tsx';
import Hero from '../components/Hero.tsx';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <StarBackground client:load />
  <div class="min-h-[calc(100vh-140px)] flex items-center justify-center">
    <Hero client:load />
  </div>
</BaseLayout>