---
import StarBackground from '../components/StarBackground.tsx';
import Hero from '../components/Hero.tsx';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="flex-1 flex flex-col justify-center items-center">
    <StarBackground client:load />
    <Hero client:load />
  </div>
</BaseLayout>