<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>dhananjay | portfolio</title>
  <meta name="description" content="portfolio of dhananjay – java, spring boot, angular developer" />

  <meta property="og:title" content="Dhananjay Dhawale | Full-Stack Developer" />
  <meta property="og:description" content="I'm a passionate software developer building impactful projects with Spring Boot and Angular." />
  <meta property="og:image" content="https://dhananjay-dhawale.github.io/astro-portfolio/preview.png" />
  <meta property="og:url" content="https://dhananjay-dhawale.github.io/astro-portfolio/" />
  <meta property="og:type" content="website" />
  
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Dhananjay Dhawale | Full-Stack Developer" />
  <meta name="twitter:description" content="I'm a passionate software developer building impactful projects with Spring Boot and Angular." />
  <meta name="twitter:image" content="https://dhananjay-dhawale.github.io/astro-portfolio/preview.png" />
  <meta name="twitter:site" content="@your_x_handle" />
</head>